* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:focus{
    outline: none;
}

.container {
    max-width: 1200px;
    margin: auto;
}
.nav {
    text-align: center;
}
.nav img {
    width: 500px;
}
.header {
    display: flex;
    align-items: center;
    background-color: rgba(34, 34, 153, 0.836);
    color: #fff;
    padding: 15px 0;
}
.header label {
    margin: 0 12px;
}
.header select{
    width: 170px;
    border-radius: 5px;
    margin-right: 15px;
    padding: 6px 4px;
}
.header button {
    cursor: pointer;
    border: 1px solid #737171;
    border-radius: 5px;
    padding: 6px 4px ;
    margin-left: 15px;
}
header{
    background-color: rgb(228, 204, 164);
}
.center-top {
    margin-top: 17px;
    text-align: center;
}
.center-top img {
    width: 50px;
    background-color: rgb(73, 71, 71);
    border-radius: 50%;
}
.center-top h3 i{
    margin-right: 5px;
    color: rgb(251, 251, 0) !important;
}
.center-bottom{
    padding-bottom: 15px;
}
.center-bottom-item-2 img {
    width: 50px;
    background-color: rgb(73, 71, 71);
    border-radius: 50%;
}
.center-bottom{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;    
}
.center-bottom-item-2{
    text-align: center;
}
.center-bottom-item-2 h3 i{
    color: silver !important;
    margin-right: 5px;
}
.center-bottom-item-3{
    text-align: center;
}
.center-bottom-item-3 img {
    width: 50px;
    background-color: rgb(73, 71, 71);
    border-radius: 50%;
}
.center-bottom-item-3 h3 i{
    color: rgb(109, 29, 29) ;
    margin-right: 5px;
}
.bottom{
    background-color:rgba(34, 34, 153, 0.836) ;
    color: yellow;
    padding: 15px 0;
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
.footer{
    margin-top: 12px;
    font-size: 11px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer p:first-child{
    margin-right: 20px;
}

.menu-main li {
    display: flex;
}