 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .banner {
     height: 100% !important;
 }

 h1 {
     color: #dbaf4b;
 }

 :focus {
     outline: none;
 }


 .img-head {
     text-align: center;
 }

 .img-head img {
     width: 50%;
 }

 .criteria {
     display: grid;
     grid-template-columns: 7fr 1fr 1fr;
     align-items: center;
     margin-bottom: 10px;
     border: 1px solid #ccc;
     border-radius: 10px;
     padding: 10px;
     font-size: 1.12em;
 }

 .textBox {
     width: 50px;
     font-size: 1em;
     width: 60px;
     text-align: center;
     border-radius: 20px;
     border: 2px solid #7d7b7b;
 }

 .tiengtrung {
     color: #ff2d2d;
 }

 .criteria:nth-child(odd) {
     color: #fff;
     background-color: rgba(0, 0, 0, 0.3);
 }

 .criteria:nth-child(even) {
     color: #fff;
     background-color: rgba(0, 0, 0, 0.1);
 }

 .total-wrapper {
     margin-top: 20px;
     text-align: right;
     font-size: 2em;
 }

 .total-label {
     font-weight: bold;
     font-size: 30px;
     color: #dbaf4b;
 }

 .total-score {
     font-size: 1.2em;
     font-weight: 900;
     color: #fff;
 }

 .popup {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: rgba(0, 0, 0, 0.5);
     z-index: 9999;
     visibility: hidden;
     opacity: 0;
     transition: visibility 0s, opacity 0.3s;
 }

 .popup.active {
     visibility: visible;
     opacity: 1;
 }

 .popup-content {
     background-color: #3498db;
     padding: 30px;
     border-radius: 5px;
     text-align: center;
 }

 .popup-content h2,
 p {
     color: #fff;
     margin-bottom: 15px;
 }

 .popup-content h2 {
     color: #dbaf4b;
     font-weight: 600;
 }

 .popup-buttons button {
     margin: 0 10px;
     font-size: 16px;
     padding: 5px 10px;
     border-radius: 4px;
     border: 1px solid #393232;
     cursor: pointer;
     border: none;
 }

 .popup-buttons button:hover {
     background-color: #e7e7e7;
 }

 .confirm-button-wrapper {
     width: 100%;
     padding-bottom: 12px;
     text-align: center;
 }

 #confirm-button {
     background-color: #3498db;
     border: none;
     color: white;
     padding: 12px 14px;
     text-decoration: none;
     margin: 4px 2px;
     cursor: pointer;
     border-radius: 5px;
     text-align: right;

 }

 #confirm-button:hover {
     background-color: #338ac5;
 }

 .layer {
     position: fixed;
     top: 0;
     left: 0;
     z-index: 10;
     width: 100%;
     background: black;
     opacity: 0.5;
     height: 100%;
     overflow: hidden;
     outline: 0;
     transition: opacity 0.15s linear;
 }