select {
    margin-bottom: 12px;
    padding: 2px 6px;
}


.layout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    opacity: 0.4;
    height: 100%;
    overflow: hidden;
    outline: 0;
    transition: opacity 0.15s linear;
}

.banner {
    background-image: url(../logo/BR\ 3.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents {
    z-index: 1;
    width: 100%;
    margin-top: 50px;
}

.content-header {
    margin-bottom: 17px;
}

.content-header-left {
    width: 30%;
    text-align: start;
}

.content-header-left label {
    color: #fff;
}

.content-header-left form {
    display: flex;
    justify-content: space-evenly;
}

.content-header-left form select {
    border-radius: 5px;
    padding: 6px 5px;
    width: 200px;
    max-width: 200px;
}

.content-header-left img {
    width: 50px;
    background-color: rgb(73, 71, 71);
    border-radius: 50%;
}

.btn-show button {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 8px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    text-align: right;
    margin-bottom: 20px;
    margin-left: 63%;
}

.content-bottom-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-bottom-text {
    text-align: center;
}

.content-bottom-text img {
    width: 50px;
    background-color: rgb(73, 71, 71);
    border-radius: 50%;
}

.content-bottom-text h4 {
    color: #ff2d2d;
    font-size: 14px;
}

.content-bottom-text h2 {
    color: #fff;
    font-size: 36px;
}

.content-bottom-item-under {
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.content-bottom-item-under h1 {
    color: #dbaf4b;
}

.footer {
    margin-top: 70px;
    font-size: 11px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p:first-child {
    margin-right: 20px;
}